#main {
  border-radius: 10px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.tweb_bar {
  background: rgb(193, 240, 240) !important;
  border: 1px solid rgb(193, 240, 240) !important;
}

.tweb_btnbar {
  background-color: rgb(230, 247, 255); 
  transition-duration: 0.4s;
  border-radius: 4px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
} 
 
.tweb_btnbar:hover:enabled  {  
  background-color: rgb(217, 217, 217);
  color: white; 
}

#mydatatable_info {
  margin-left: 5px;
}

#mydatatable_info, #mydatatable_previous, #mydatatable_next {
  color: red !important;
}

label {
  color: red;
}

td {
    padding: 8px 10px;
    /*font-size: 12px;*/
}
